<!DOCTYPE html>
<html lang="en-US">
  {% load static %}
  <link rel="stylesheet" href="{% static 'binomotron/style.css' %}">
  <head>
    <meta charset="utf-8" />
    <title>Binomotron Apprenant</title>
  </head>
  <body>
    <p>Liste des Apprenants</p>
    <form action=" {% url 'binomotron:apprenant'%}" method="post">
      {% csrf_token %}
      <input placeholder="nom" name="search">
      <button type="submit">Recherche</button>
    </form>
    <form><button class='add-btn' formaction="{% url 'binomotron:apprenant_add' %}">Ajouter</button></form>
    {% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
            {{ message|safe }}
        </div>
    {% endfor %}
  {% endif %}

    {% if apprenant_list %}
      <ul>
      {% for apprenant in apprenant_list %}
        <li>
          <form >
            {% csrf_token %}
            <a href="{% url 'binomotron:apprenant_detail' apprenant.id %}">{{ apprenant.nom }} {{ apprenant.prenom }}</a>
            <button class ='modif-btn' formaction="{% url 'binomotron:apprenant_edit' apprenant.id %}">Modifier</button>
            <button class = "delete-btn" formaction="{% url 'binomotron:supprimer-apprenant' apprenant.id%}">Supprimer</button>
          </form>
        </li>
      {% endfor %}
      </ul>
      {% else %}
        <p>Pas d'apprenants disponibles</p>
      {% endif %}
  </body>
</html>