<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Formulaire pour ajouter un apprenant</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static '/style.css' %}"> -->
  </head>
  <body>
    <header>
      <a href="{% url 'binomotron:apprenant' %}">Apprenant</a>
    </header>
    <h1>Ajouter un nouvel apprenant</h1>
    {% block content %}
      {% if form %}
        {% for field in form %}
         {{ field.errors }}
        {% endfor %}
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Ajouter">
      </form>
    {% endblock content %}
  </body>
</html>
