<!DOCTYPE html>
<html lang="en-US">
  {% load static %}
  <link rel="stylesheet" href="{% static 'binomotron/style.css' %}">
  <head>
    <meta charset="utf-8" />
    <title>Binomotron Groupe</title>
  </head>
  <body>
    <p>Liste des Groupes</p>
    {% if groupe_list %}
      <ul>
      {% for groupe in groupe_list %}
        <li>
          <form >
            {% csrf_token %}
            <a href="{% url 'binomotron:groupe_detail' groupe.id %}">{{ groupe.nom }} {{ groupe.brief }} {{ groupe.apprenants }}</a>
          </form>
        </li>
      {% endfor %}
      </ul>
      {% else %}
        <p>Pas d'apprenants disponibles</p>
      {% endif %}
  </body>
</html>