<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}"> -->
  </head>
  <body>
    <p>This is my page</p>
    {% if context_object_name %}
        <ul>
        {% for apprenant in context_object_name %}
            <li><a href="{% url 'apprenant:detail' question.id %}">{{ apprenant.nom }} {{ apprenant.prenom }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No apprenants are available.</p>
    {% endif %}
    <p>Que souhaitez-vous faire ?</p>
    <ul>
        <li><a href="{% url 'apprenant:create_apprenant'}">Créer</a></li> 
        <li><a href="{% url 'apprenant:delete_apprenant'}">Supprimer</a></li> 
        <li><a href="{% url 'apprenant:show_apprenant'}">Consulter</a></li> 
        <li><a href="{% url 'apprenant:modify_apprenant'}">Modifier</a></li> 
    </ul>
  </body>
</html>