<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Formulaire pour ajouter un apprenant</title>
        {% load static %}
        <!-- <link rel="stylesheet" href="{% static '/style.css' %}"> -->
    </head>
    <body>
        <header>
            <a href="{% url 'binomotron:brief' %}">Brief</a>
        </header>
        <h1>{{brief.nom}} </h1>
        <p> Lien vers le brief : {{brief.lien}} </p>
        <p> Date de début du projet : {{brief.date_debut}} </br>
            Date limite de rendu : {{brief.date_fin}} </p>

        {% if group_list %}
            <ul>
            {% for gname, students in group_list.items %}
            <li>
                <p>{{gname}}</p>
                {% for student in students %}
                <ul>
                    <li>
                        <p>{{student.prenom}} {{student.nom}}</p>
                    </li>
                </ul>
                {% endfor %}   
            </li>
            {% endfor %}
            </ul>
            {% else %}
            <p>Les groupes n'ont pas encore été créés pour le brief {{brief.nom}}</p>
            <form>
                {% csrf_token %}
                <button class ='create-btn' formaction="{% url 'binomotron:groupe_create' brief.id %}">Créer les groupes</button>
            </form>
            {% endif %}
    </body>
</html>

